.navbar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: fixed;
  top: 60px;
  left: -40%;
  background-color: rgba(0, 31, 51, 0.9);
  color: #1ba098;
  border-bottom-right-radius: 50px;
  list-style: none;
  font-size: 25px;
  width: 40%;
  height: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;

  &.active {
    animation: slide-in 300ms forwards ease-out;
  }

  &.hidden {
    animation: slide-out 300ms forwards ease-out;
  }

  li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 100ms;
  }
}

@keyframes slide-in {
  100% {
    left: 0px;
  }
}

@keyframes slide-out {
  0% {
    left: 0;
  }

  100% {
    left: -40%;
  }
}

@media (min-width: 700px) {
  .navbar2.active {
    animation: slide-out 300ms forwards;
  }
}
